.NavBar{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1em 0 0;
    height: 10%;
}

button{
    background-color: transparent;
    border-color: transparent;
    color: #FFFFFF;
    outline:none;
}

.active{
    color: #b98f14;
}